In [1]:
import pandas as pd

In [3]:
df = pd.read_spss('C:\\data\\education\\한국아동청소년행복지수조사\\kor_data_20210010.sav')
df.head(3)

,id,sex,birthy,birthm,area,size,school,grade,home1,home2,...,q512,q513,q514,q52,q53,q5411,q5412,q5421,q5422,wt
0,20001.0,여성,2003.0,4월,"충청권(대전, 충남, 충북)",도서벽지 및 읍면지역,고등학생,3학년,아니오,아니오,...,해당 없음,차이 없음,차이 없음,28.0,그대로다,NaN,NaN,NaN,NaN,0.250048
1,20002.0,여성,2003.0,8월,"충청권(대전, 충남, 충북)",도서벽지 및 읍면지역,고등학생,3학년,예,예,...,차이 없음,차이 없음,차이 없음,20.0,그대로다,NaN,NaN,NaN,NaN,0.250048
2,20003.0,여성,2003.0,9월,"충청권(대전, 충남, 충북)",도서벽지 및 읍면지역,고등학생,3학년,예,예,...,차이 없음,차이 없음,차이 없음,30.0,그대로다,NaN,NaN,NaN,NaN,0.250048

In [ ]:
# for i in range(1, 8):
#     print(f"'q12{i}1','q12{i}2','q12{i}3','q12{i}4','q12{i}5', ")

'q1211','q1212','q1213','q1214','q1215',
'q1221','q1222','q1223','q1224','q1225',
'q1231','q1232','q1233','q1234','q1235',
'q1241','q1242','q1243','q1244','q1245',
'q1251','q1252','q1253','q1254','q1255',
'q1261','q1262','q1263','q1264','q1265',
'q1271','q1272','q1273','q1274','q1275',

In [ ]:
# 기본 정보
basic_info = ['id', 'sex', 'school', 'grade']
# 친구 관계
friend = ['q05', 'q11']
about_friend = [
          'q1211', 'q1212', 'q1213', 'q1214', 'q1215', 
          'q1221', 'q1222', 'q1223', 'q1224', 'q1225', 
          'q1231', 'q1232', 'q1233', 'q1234', 'q1235', 
          'q1241', 'q1242', 'q1243', 'q1244', 'q1245', 
          'q1251', 'q1252', 'q1253', 'q1254', 'q1255', 
          'q1261', 'q1262', 'q1263', 'q1264', 'q1265', 
          'q1271', 'q1272', 'q1273', 'q1274', 'q1275'
          ]

# 교사 관계
teacher = ['q061', 'q062']

# 신뢰할 수 있는 사람
trust_person = ['q10']

# 학업 관련
study = ['q071', 'q072', 'q073', 'q074', 'q075']

# 사교육 관련
pri_edu = ['q09', 'q0911', 'q0912', 'q0921', 'q0922', 'q0923', 'q0924']

# 학교폭력 및 외부 폭력
school_violence = ['q33', 'q34', 'q35', 'q351', 'q352', 'q3531', 'q3532', 'q3533', 'q3534', 
                   'q3535', 'q3536', 'q3537', 'q3541', 'q3542', 'q3543', 'q3544', 'q3545', 
                   'q3546', 'q3547', 'q3551', 'q3552', 'q3553', 'q3554', 'q3555', 'q3556', 
                   'q3557', 'q36', 'q371', 'q372']

# 경제적 스트레스 및 불안
economic_stress = ['q481', 'q482', 'q483', 'q484', 'q485', 'q486', 'q487', 'q488', 'q489', 
                   'q4810', 'q4811', 'q4812', 'q4813', 'q4814', 'q4815', 'q4816', 'q4817']

# 가정 내 관계
family_rel = ['q141', 'q142', 'q143', 'q144', 'q145', 'q146', 'q147', 'q148', 'q149', 'q1410', 
              'q1411', 'q1412', 'q151', 'q152', 'q153', 'q154', 'q155', 'q161', 'q162', 'q163', 
              'q164', 'q165', 'q166', 'q167', 'q168']

# 정서적 및 사회적 삶
emotional_social = ['q221', 'q222', 'q223', 'q224', 'q225', 'q226', 'q23', 'q241', 'q242', 'q25', 
                    'q26', 'q27']

# 학교 생활과 잠, 휴식
sleep_lifestyle = ['q42', 'q43', 'q44', 'q45', 'q46', 'q391', 'q392', 'q401', 'q402', 'q41', 'q411']

# 자살, 가출 관련
suicide_runaway = ['q29', 'q301', 'q302', 'q31', 'q32']